#main5 .table .tabledata {
    width: 896px;
    height: 92%;
    margin-left: 3%;
    top: 2px;
}

#main5 .table .upload {
    height: 54%;
    width: 24%;
    top: 2%;
    left: 74%;
}

#main5 .table .imgs {
    width: 25%;
    height: 32%;
    left: 73%;
    bottom: 5%;
}

#main5 .table .elpage {
    left: -1.5%;
}