.bodys {
    width: 100%;
    height: 100%;
    background: rgb(238,239,241);
    background: radial-gradient(circle, rgba(238,239,241,1) 0%, rgba(249,249,249,1) 100%);
    position: absolute;
    text-align: center;
    margin: auto;
}

#main7 .tea {
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}

#main7 .tea #t-figure {
    width: 100%;
    height: 100%;
}

#main7 .pTitle {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

#main7 .pTitle #p-figure {
    width: 100%;
    height: 100%;
}